// secrets.h
#pragma once

// ==========================================================
// ==      FILE RAHASIA - JANGAN DI-UPLOAD KE GITHUB       ==
// ==========================================================
// File ini berisi semua informasi sensitif.

#define SECRET_WIFI_SSID "YOUR_WIFI_SSID"
#define SECRET_WIFI_PASS "YOUR_WIFI_PASSWORD"

#define SECRET_MQTT_BROKER "YOUR_MQTT_BROKER"
#define SECRET_MQTT_USER "YOUR_MQTT_USER"
#define SECRET_MQTT_PASS "YOUR_MQTT_PASSWORD"